@media only screen and (min-width: 768px){
.local_nav li a {
    padding: 16px 2px!important;
    font-weight: bold;
    color: #525263;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.h-name {
    height: 90px!important;
}

}
@media only screen and (min-width: 900px){
.local_nav li a {
    padding: 16px!important;
    font-weight: bold;
    color: #525263;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.h-name {
    height: 45px!important;
}

}
.cart_item .item_box .table .item_name a:hover {
    color: #000;
    text-decoration: underline;
}
.cart_item .item_box .table .item_name a {
    font-weight: bold;
    color: #000;
}
#related_product_area .angle-circle::focus {
   border:none;
outline:none;
}
#related_product_area {
    border-top: none!important;
}
@media only screen and (min-width: 768px)
{.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}}
.cart .btn_area .btn-sm {
    height: auto;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 8px;
}
a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}


.text{
font-size: 24px;
color: #f99ab1;
font-weight: bold;
}
.text-danger {
    color: #f99ab1;
}
span.required {
    color: #f99ab1;
    font-weight: normal !important;
    margin-left: 1em;
    font-size: 12px;
    font-size: 1.2rem;
}
.local_nav li.active a {
    color: #f99ab1;
}
.text-primary {
    color: #f99ab1;
    font-weight: normal;
}
.btn_circle .cb {
    font-size: 15px!important;
    position: relative;
    top: -5px;
}
.product_item .btn_circle {
    position: absolute;
    right: 2px;
    top: 2px;
}
.btn_circle {
    border: 0 none;
    padding: 0;
    margin: 0;
    text-shadow: none;
    box-shadow: none;
    border-radius: 50%;
    color: #fff;
    background: #7575754D;
    cursor: pointer;
    width: 25px;
    height: 25px;
    line-height: 37px;
    vertical-align: middle;
}
#related_product_area .heading03 {
    border-top: none!important;
    margin-top: 0;
    padding-top: 18px;
}
.message{
text-align:left;
}
.complete_message{
text-align:left;
}
.btn-login{
background: #d6a4b0;
    color: #fff;
     border: 1px solid;
    border-radius: 5px;
font-weight: normal;
}
.btn-login:hover{
background: #d6a4b0;
    color: #fff;
     border: 1px solid;
    border-radius: 5px;
font-weight: normal;
}
.btn_area .btn {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}
.cart .item_box .item_price {
    float: left;
    font-size: 14px;
}
.cart .item_box .item_quantity {
    vertical-align: middle;
    font-size: 14px;
    font-size: 1.4rem;
    color: black;
}
.cart .item_box .item_pattern {
    font-size: 14px;
    font-size: 1.4rem;
    color: black;
}
.item_name {
    color: black;
    margin: 0 0 8px;
}
.item_price {
    color: #525263;
    font-weight: bold;
    font-size: 14px!important;
    float: right;
    font-family: sans-serif;
}
.h-name {
    height: 45px;
color:black;
}
.h-name:hover {
    text-decoration: underline;
}
.h-name {
    text-align: left!important;
}
.small{
font-size:12px!important;
}
.btn-info {
    color: #333!important;
    background-color: #ffffff!important;
    border-color: #333!important;
    font-weight: normal;
    border-radius: 5px;
    margin-top: 5px!important;
}
.btn-info:hover {
    color: #333!important;
    background-color: #ffffff!important;
    border-color: #333!important;
    font-weight: normal;
    border-radius: 5px;
    margin-top: 5px!important;
}
#header .header_logo_area {
    margin-right:0px; 
    text-align: center;
float:none;
margin-bottom: 16px;
}
.btn-primary {
    color: #fff;
    background-color: #d6a4b0;
    border-color: #d6a4b0;
    font-weight: normal;
    border-radius: 5px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #d095a3;
    border-color: #d095a3;
}

.btn-quay {
    color: black;
    border: 1px solid;
    border-radius: 5px;
    margin: 7px 0;
    font-weight: normal;
}

.five-co{
width:20%;
float:left;
padding: 0 10px;
}
@media only screen and (max-width: 1000px){
.header_logo_area img{
   float: left;
    position: relative;
}
.five-co{
width:33.3%;
float:left;
}
}
@media only screen and (max-width: 700px){
.header_logo_area img{
   float: left;
    position: relative;
}
.five-co{
width:50%;
float:left;
}
.h-name {
 height: 50px;
}
}
@media only screen and (max-width: 400px){
.h-name {
 height: 63px;
}
.item_subtotal{
display:none!important;
}
}
.pickup_item {
    margin-bottom: 35px;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
}
.item_price {
    color: #525263;
    font-weight: bold;
    font-size: 16px;
}
.cart_item .item_box .table .item_detail {
    text-align: left;
width:100%;
}
#shopping_confirm .cart_item .item_box .table .item_subtotal {
    display: inline;
    float: right;
}
#shopping_confirm .cart_item .item_box .table .item_price {
    font-weight: normal;
    display: inline;
    margin-right: 16px;
    float: left;
}
.item_price {
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.item_name_2{
color:black;
}