.price02_default{
    font-size: 30px;
    color: #ff3b70;
}

.item_name1{
    font-size: 18px;
    font-weight: normal;
    color: #050505;
    line-height: 28px;
}
body{
    color: #333;
}
.btn-cart{
    padding: 12px 0;
    background: #d6a4b0;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.btn-cart:hover{
    padding: 12px 0;
    background: #f6a4b0;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.gui{
    line-height: 27px;
}
.kato button{
    background: #fff;
    border: 1px solid #c1c1c1;
    padding: 8px;
    border-radius: 5px;
}
.kato button:hover{
    background: #f2f2f2;
}
.kato button img{
    padding-right: 5px;
}
.relative_cat li {
    display: inline-block;
    color: #333;
    line-height: 23px;
}
.pl-mi-btn {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
    height: 30px;
    vertical-align: bottom;
}
.pl-mi-btn .pm-btn {
    background: #fcfcfc;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 0 5px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 24px;
}
.pl-mi-btn .pm-btn:before,
.pl-mi-btn .pm-btn.plus:after {
    background: #666;
    border-radius: 2px;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
.pl-mi-btn .pm-btn.plus:after {
    height: 16px;
    width: 2px;
}
.h-button {
    text-align: center;
    font-size: 20px;
    color: #333;
}
.sp_detail {
    background: #fff;
    text-align: center;
    border-top: 0.5px dotted #cac6c6;
    padding: 10px;
}
.h-image{
    text-align: center;
    margin: 10px;
}
td, th {
    padding: 5px;
    line-height: 25px;
    font-size: 15px;
}
.accordion{
    padding-top:10px;
}
.affiliate_urls{
    display:none;
}
.item_comment {
    color: rgba(107, 29, 34, 0.83);
    text-align: center;
}

.cart_area .classcategory_list li select {
    width: 100%;
    font-size: 12px;
}
#item_detail table br{display:bock;}
.item_comment img{
    width:100%;
    height:100%;
}
.relative_cat li a {
    padding: 0 0.5em;
    display: inline-block;
    color: #050505;
}
.btn-success:hover {
    color: #fff;
    background-color: #ec9a6e;
    border-color: initial;
}
.gui{
    padding: 5px 0px;
    line-height: 18px;
}
#item_detail_area .item_detail p {
    margin: 5px 0;
}
.item_name1 {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
}
.product_tag_list {
    margin-bottom: 8px;
}
.btn-info {
    border-color: #fff;
    color: #fff;
    background-color: #d6a3b0;
}
.btn-info:hover {
    border-color: #fff;
    color: #fff;
     background-color: #d6a3b0; 
}
.relative_cat li:first-child a {
    padding-left: 0;
    color: #050505;
    font-weight: bold;
    line-height: 18px;
}
fieldset[disabled] .btn-info.active {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
#related_product_area .item_price + .item_comment {
    margin-top: 0;
}
#related_product_area .slick-next, #related_product_area .slick-prev {
    font-size: 20px;
    top: -35px;
}
#related_product_area .slick-prev .cb, #related_product_area .slick-next .cb {
    font-size: 20px;
    top: -1px;
}
#related_product_area .angle-circle {
    width: 28px;
    height: 28px;
    margin-top: 0;
}
#related_product_area .heading03 {
    padding-top: 35px;
    font-size: 16px;
}
#detail_wrap{padding-bottom:0;}
.freearea img {
    max-width: 100%;
    height: 100%;
}
dl.quantity dt {
    min-height: 32px;
    line-height: 32px;
}

.btn-success, .btn-success:active {
    background: none;
    color: black;
    border: none;
    font-weight:normal;
    font-size:11px;
    margin-bottom:2px;
    border:1px solid #CACACA;
    border-radius:5px;
}
.slick-slider {
    margin-bottom: 0px;
}

.cart_area {
    padding-top: 0px;
}
#item_detail_area .item_detail .item_code {
    padding: 5px 0;
    border-top: 1px dotted #ccc;
}
#item_detail_area .item_detail .relative_cat {
    padding: 5px 0;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}
#item_detail_area .item_detail .sale_price {
    font-size: 18px;
}

.flickity-enabled {
    position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: white;
    background: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
    /* vertically center */
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.flickity-prev-next-button:hover { background: white; }

.flickity-prev-next-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
    opacity: 0.6;
}

.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 0;
}
.flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 0;
}

.flickity-prev-next-button:disabled {
    opacity: 0.3;
    cursor: auto;
}

.flickity-prev-next-button svg {
position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}

.flickity-prev-next-button .arrow {
    fill: #333;
}

/* ---- page dots ---- */

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
    opacity: 1;
}
@media screen and (max-width: 767px){
.flickity-enabled {position: absolute;bottom: 5px;}
.slick-dots {position: absolute;bottom: 5px;}
.flickity-slider {transform: none !important;}
.flickity-prev-next-button{display: none !important;}
.flickity-enabled .flickity-slider > li {
    left: auto !important;
    position: relative !important;
}
}

#item_photo_area .slick-dots.flickity-enabled {
    margin: auto;
}
.kato{
    font-size:13px;
}
<!-- レビューボタンCSS -->
#product_review_area dl dt .cb {
    top: 16px;
}
#product_review_area dl dt {
    padding: 10px;
    font-size: 14px;
    margin: 2px 0;
}
#product_review_area .review_btn {
    padding: 2px 0 0;
    text-align: center;
}
#product_review_area .review_btn a {
    margin: 0 auto;
    padding: 8px;
    width: 40%;
}
@media only screen and (min-width: 768px) {
    #product_review_area .review_btn a {
        min-width: 100%;
    }
}
.pl-mi-btn {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
    height: 30px;
    vertical-align: bottom;
}
.pl-mi-btn .pm-btn {
    background: #fcfcfc;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 0 5px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 24px;
}
.pl-mi-btn .pm-btn:before,
.pl-mi-btn .pm-btn.plus:after {
    background: #666;
    border-radius: 2px;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
.pl-mi-btn .pm-btn.plus:after {
    height: 16px;
    width: 2px;
}
.cart_area .quantity dd input {
    max-width: 60px;
}
.form-control {
    border: 1px solid #C4CCCE;
    border-radius: 3px !important;
    box-shadow: none;
    font-size: 16px;
    font-size: 1.6rem;
    height: 32px;
    padding: 6px 12px;
    width: auto;
    line-height: 1.5;
}