{# CSSの初期設定読込 #}
	<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/pg_calendar.css">
	<style type="text/css">
		.ads_titles {
	    color: #563924;
	border: 1px solid #d7d7d7;
	    height: 35px;
	    line-height: 35px;
	    margin-top: 5px;
	    padding-left: 40px;
	    
	}

	.advertisements{
	    float: left;
	border: 1px solid rgb(215, 215, 215);
	margin-bottom:2px;
	padding-bottom: 10px;
	border-left-width:5px;
	border-left-color:rgb(233, 96, 32);
	}
	.ads_titles h4 {
    height: 35px;
    line-height: 35px;   
    margin: 2px 0;
    font-size: 13px;
    color: #563924;
}
	
	}
	</style>
	<div class="row" style="margin: auto;">
	<div class="ads_titles"><h4>広告</h4></div>
	<div class="col-sm-12 col-xs-12 advertisements">
		<ul class="row">	
			<li class="col-sm-12 col-xs-12"><img src="/upload/save_image/cafe-1.jpg"></li>
		</ul>
	</div>
	</div>