<style>
.top-bussiness {
    border: dashed 1px #ad8a57;
    position: absolute;
    top: 10px;
padding:3px;
}
@media only screen and (max-width: 768px)
{
.top-bussiness {
display:none;
    border: dashed 1px #ad8a57;
padding:3px;
position: relative;
    margin-bottom: 5px;
 top: 0;
}
</style>
<div class="top-bussiness col-md-3">
<small>※ 営業時間：11：00-16：00(土日祝除く)</small><br>
<small>※ メールでのお問い合わせは24時間受付ておりますが、<br>
返信は営業日の上記時間帯に対応いたします</small>

</div>