<style>
#header_gnavi_wrap {
    width: 100%;
    margin: 0;
    background-color: #4e4c63;
}
.header_keyword_wrap_ {
    width: 100%;
    background-color: #F2F2F2;
    margin-bottom: 0px;
    padding-bottom: 5px;
margin-bottom: 5px;
}
 .header_keyword_ {
    width: 980px;
    margin: 0 auto;
    padding: 15px 10px;
    font-size: 11px;
margin-bottom: 5px;
}
.header_keyword_ li.midashi_ {
    font-weight: bold;
    color: #4E4C63;
}
 .header_keyword_ li {
    float: left;
    padding-right: 17px;
}
.ninki li a{
color: #666;
}
.ninki li a:hover{
text-decoration:underline;
}
@media only screen and (max-width: 980px){
.tutimkiem{
display:none!important;
}
}
</style>
<div class="header_keyword_wrap_ tutimkiem">    
	<div class="header_keyword_">
    <div class="hKeyword_">
    <ul class="clear_ inc_header_keyword ninki">
        <li class="midashi_">人気急上昇ワード</li>
		<li><a href="http://newjoy.co.jp/products/list?category_id=&name=水着">水着</a></li>      
		<li><a href="http://newjoy.co.jp/products/list?category_id=&name=夏の新作">夏の新作</a></li>
        <li><a href="http://newjoy.co.jp/products/list?category_id=&name=サンダル">サンダル</a></li> 
        <li><a href="http://newjoy.co.jp/products/list?category_id=&name=ハーフパンツ">ハーフパンツ</a></li>
        <li><a href="http://newjoy.co.jp/products/list?category_id=&name=キッズドレス">キッズドレス</a></li>
        <li><a href="http://newjoy.co.jp/products/list?category_id=&name=ブライズメイド">ブライズメイド</a></li>
        <li><a href="http://newjoy.co.jp/products/list?category_id=&name=レインシューズ">レインシューズ</a></li>
        <li><a href="http://newjoy.co.jp/products/list?category_id=&name=セット商品">セット商品</a></li>
        <li><a href="http://newjoy.co.jp/products/list?category_id=&name=ペアルック">ペアルック</a></li>
 </ul>
    </div>
	</div>
</div>