<style>
.notes {
    margin: 10px ;
    padding: 10px ;
    text-align: center ;
    box-shadow: 0 0 0 3px #ad8a57 inset, 0 0 0 5px rgba(173, 138, 138, 0.5) inset ;
    position: relative ;
    z-index: 100 ;
    background: #fff ;
    overflow: hidden ;
}

.notes:before {
  border-radius: 50% ;
  display: block ;
  position: absolute ;
  top: -5px ;
  left: -5px ;
  width: 10px ;
  height: 10px ;
  content: "" ;
  background-color: #ad8a57 ;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #ad8a57, 0 0 0 7px rgba(173, 138, 138, 0.5) ;
}

.notes span::before {
  border-radius: 50% ;
  display: block ;
  position: absolute ;
  top: -5px ;
  right: -5px ;
  width: 10px ;
  height: 10px ;
  content: "" ;
  background-color: #ad8a57 ;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #ad8a57, 0 0 0 7px rgba(173, 138, 138, 0.5) ;
}


.notes::after {
  border-radius: 50% ;
  display: block ;
  position: absolute ;
  bottom: -5px ;
  left: -5px ;
  width: 10px ;
  height: 10px ;
  content: "" ;
  background-color: #ad8a57 ;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #ad8a57, 0 0 0 7px rgba(173, 138, 138, 0.5) ;
}

.notes span::after {
  border-radius: 50% ;
  display: block;
  position: absolute ;
  bottom: -5px ;
  right: -5px ;
  width: 10px ;
  height: 10px ;
  content: "" ;
  background-color: #ad8a57 ;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #ad8a57, 0 0 0 7px rgba(173, 138, 138, 0.5) ;
}

</style>
<table width="100%">
	<tr>
		<th class="notes" colspan="2"><span>注意事項</span></th>
	</tr>
	<tr>
		<td colspan="2">
		★ページの閲覧環境によって、掲載写真と実際の商品の色合いが異なる場合があります。<br>
		★モデルに小物を使う場合がございますが、商品に含まれませんのでご了承下さい。<br>
		★製造過程、出荷過程の間に出来た細かなキズ・ヨゴレなど気付かない場合がございます。お店で購入するような完璧品をお求めの方、細かい部分まで気になさる方は、ご購入をご遠慮ください。<br>
		★商品の仕様は、製造元の都合により予告なく変更することがあります。<br>
		★一部商品はボタンの穴が開いていない場合もございますが、不良品ではございませんのでご了承ください。<br>
		★土日祝祭日のご注文およびお問い合わせへの弊社からのご連絡は、翌営業日となります。<br>
		★お届けした商品に不備がございましたら、商品ご到着後5日以内にご連絡ください。早急に対応させていただきます。なお期日を過ぎた場合はお受け致しかねますので予めご了承ください。<br>
		★海外製品のため、詳細タグなし<br>
		</td>
	</tr>
	<tr>
		<td class="col-md-6 col-xs-12" style="padding:5px;"><a href="#"><img src="/user_data/images/housei.png" width="100%"></a></td>
		<td class="col-md-6 col-xs-12" style="padding:5px;"><a href="/user_data/faq#henpin"><img src="/user_data/images/henpin.png" width="100%"></a></td>
	</tr>
</table>