{% if Category.id is null %}
	<div class="img-flex col-sm-6 col-xs-12">
		<a href="/products/list?category_id=17"><img src="/user_data/special/r8-180322yql-04s.jpg" alt=""></a>
	</div>
	<div class="img-flex col-sm-6 col-xs-12">
		<a href="/products/list?category_id=28"><img src="/user_data/special/r8-0602yql-02s.jpg" alt=""></a>
	</div>
	<div class="img-flex col-sm-6 col-xs-12">
		<a href="/products/list?category_id=26"><img src="/user_data/special/r8-180322yql-01s.jpg" alt=""></a>
	</div>
	<div class="img-flex col-sm-6 col-xs-12">
		<a href="/products/list?category_id=31"><img src="/user_data/special/r8-171120yql-03s.jpg" alt=""></a>
	</div>
	{% endif %}