<style>
      .header{
        background: #ad8a57;
      }
      .position{
display:none;
position:fixed;
z-index:999;
width:100%;
box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.top_menu ul li span {
   color:#fff;
}
.header ul{
      background: #ad8a57;
      height:50px;
      text-align: center;
      }
      .top_menu ul li{
      border-left: 1px solid #fff;
      height: 100%;
      text-align: center;
      line-height: 50px;
      }
      .top_menu ul li:hover{
      background: black;
      }
      .top_menu ul li:first-child{
         border-left: none;
      }
      .top_menu ul li a{
      display: block;
      color: #fff;
      line-height: 50px;
      }
      .inner {
      max-width: 1200px;
      }
      body {
      font-size: 14px;
      }
      
      .f-nav{
      position: fixed;
      z-index: 999;
      }
      #contents{
      padding-top: 0;
      }

 @media only screen and (max-width: 700px)
{
.nav-container{
display:block;
}
.top_menu ul li a {
    position: relative;
   font-size: 11px;
}

.nav-container img {
    position: relative;
    top: 6px;
    text-align: center;
    left: 41%;
    display: block;
}
}

</style>
<link rel="stylesheet" href="/user_data/css/newjoy.css">
<link rel="stylesheet" href="/user_data/css/common1.css">

<div class="sp-cat2  ">
<div class="top_menu header nav-container" id="myHeader">
<div class="container-fluid inner">
   <ul  class="menu-dau">

    <li  class="col-md-3 col-xs-3">

      <a href="http://newjoy.co.jp/products/list?category_id=&name=">
 <span class="p-scroll-nav__icon u-icon--heart"></span>商品一覧</a>
    </li>
    <li  class="col-md-3 col-xs-3 ">

      <a href="http://newjoy.co.jp/user_data/ranking"> <span class="p-scroll-nav__icon u-icon--crown"></span>ランキング</a>
    </li>
    <li  class="col-md-3 col-xs-3">

      <a href="/products/list?category_id=10"><span class="p-scroll-nav__icon u-icon--feature"></span>特集ページ</a>
    </li>
    <li  class="col-md-3 col-xs-3">
      <a href="/user_data/all_category"><span class="p-scroll-nav__icon u-icon--category"></span>カテゴリ</a>
    </li>
   </ul>
</div>
</div>
</div> 

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
jQuery("document").ready(function($){

  var nav = $('.nav-container');

  $(window).scroll(function () {
    if ($(this).scrollTop() > 136) {
      $('.position').css('display','block');
    } else {
        $('.top_menu').css('display','block');
        $('.position').css('display','none');
    }
  });

});
</script>