<link rel="stylesheet" href="/user_data/css/menu_top1.css">
<style>
.top_menu1 ul li a {
    color: black;
    display: block!important;
}

</style>
<div class="top_menu1 position" id="myHeader">
<div class="container-fluid inner">
  <ul class="menu-dau1" >

    <li  class="col-md-3 col-xs-3">
      <a href="http://newjoy.co.jp/products/list?category_id=&name="> 
<span class="p-scroll-nav__icon u-icon--heart"></span>商品一覧</a>
    </li>
    <li  class="col-md-3 col-xs-3 ">
      <a href="http://newjoy.co.jp/user_data/ranking"> <span class="p-scroll-nav__icon u-icon--crown"></span>ランキング</a>
    </li>
    <li  class="col-md-3 col-xs-3">
      <a href="http://newjoy.co.jp/products/list?category_id=10"><span class="p-scroll-nav__icon u-icon--feature"></span>特集ページ</a>
    </li>
    <li  class="col-md-3 col-xs-3">
      <a href="/user_data/all_category"><span class="p-scroll-nav__icon u-icon--category"></span>カテゴリ</a>
    </li>
   </ul>
</div>
</div>